<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main suite">
    <test name="Login and Books Test">
        <classes>
            <class name="test.LoginTest"/>
        </classes>
    </test>
    <test name="Books Test">
        <classes>
            <class name="test.BooksTest"/>
        </classes>
    </test>
</suite>